@use '../../../../styles/DefaultVars.scss' as defaultVars;

.component-app-header {
    width: 100%;
    background-color: defaultVars.$black;

    > div > div {
        width: 1100px;
        margin: 0 auto;

        span, a {
            color: defaultVars.$white;
            font-size: 12px;
            line-height: 17px;
            
        }
    }

    .component-app-header-info {
        height: 35px;
        background-color: defaultVars.$gray;

        > div {  
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .contacts {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .icon {
                    margin-right: 5px;
                }

                span {
                    margin-right: 15px;
                }
            }

            .login {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                .wrapp-icon-logout {
                    margin-left: 15px;
                    margin-right: 5px;
                }

                .wrapp-icon-login {
                    margin-right: 5px;
                }

                a {
                    text-decoration: none;
                }

                span {
                    display: inline-block;
                    cursor: pointer;
                }

                a:hover,
                span:hover {
                    opacity: 0.6;
                }
            }
        }
    }

    .component-app-header-logo {
        > div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        p {
            font-size: 39px;
            line-height: 67px;
            font-weight: 600;
            color: defaultVars.$white;
            margin-right: 25px;
        }
    }

    .component-app-header-menu {
        background: defaultVars.$white;
        border-top: 4px solid defaultVars.$red;
        height: 45px;
        box-sizing: border-box;
        border-bottom: 2px solid defaultVars.$gray1;

        .items-menu {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 100%;

            a {
                text-decoration: none;
                color: defaultVars.$black;
                margin-right: 17px;
            }

            a:hover {
                opacity: 0.6;
            }
        }

        .button-menu-open {
            display: none;
        }
    }
}
@media (max-width: 1200px) {
    .component-app-header {
        > div > div {
            width: 945px;
        }
    }
}
@media (max-width: 980px) {
    .component-app-header {
        .component-app-header-info  {
            height: 45px;

            > div {
                width: 100%;
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }
        }

        .component-app-header-logo {
            > div {
                width: 100%;
                max-width: 630px;
            }
        }

        .component-app-header-menu {
            height: auto;

            .items-menu {
                width: 100%;
                min-height: 45px;
                padding: 0 20px;
                box-sizing: border-box;
                justify-content: space-evenly;
            }
        }
    }
}
@media (max-width: 768px) {
    .component-app-header {
        .component-app-header-logo {
            > div {
                width: 100%;
                max-width: 430px;

                p {
                    font-size: 27px;
                    line-height: 43px;
                    margin-right: 15px;
                }

                > div {
                    width: 35px;
                    height: 35px;
                }
            }
        }

        .component-app-header-menu {
            .items-menu {
                flex-wrap: wrap;

                a {
                    line-height: 25px;
                    margin: 10px 23px;
                    font-size: 18px;
                }
            }
        }
    }
}
@media (max-width: 480px) {
    .component-app-header {
        .component-app-header-info {
            > div .contacts {
                display: none;
            }
        }

        .component-app-header-logo {
            > div {
                justify-content: center;
            }
        }

        .component-app-header-menu {
            .items-menu {
                justify-content: center;
            }
        }
    }
}
